In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [58]:
dataset=pd.read_csv("ChatGPT User Survey - Tamil Nadu.csv")

In [59]:
dataset

,Timestamp,Name,Age,Gender,District (Where you live in Tamil Nadu),Occupation,How often do you use ChatGPT,How much spending per day,Main purpose of using ChatGPT,Which language do you mainly use ChatGPT in ?,Rate how helpful ChatGPT is for you (1-5),Education Level,Did you take actions based on ChatGPT suggestions ?,Device Used
0,10/17/2025 18:41:18,Naveen Kumar,25,Male,Chengalpattu,Student,Daily,Half an Hour,Education/ Exam Preparation,English,5,Graduate,Yes,Mobile Phone
1,10/17/2025 18:43:15,Naveen,28,Male,Pondicherry,IT Professional,Daily,More than 3 Hours,Others (Please Specify),English,5,Post Graduate,Yes,Laptop
2,10/17/2025 18:43:30,Vimala,48,Female,Chengalpattu,Homemaker,Daily,Half an Hour,Coding Help/ Programming,Tamil,5,School,Yes,Mobile Phone
3,10/17/2025 18:44:47,Kannan M,54,Male,Chengalpattu,Entrepreneur/ Business,Daily,Half an Hour,Business Ideas/ Productivity,Tamil,5,School,Yes,Mobile Phone
4,10/17/2025 18:58:27,Mathivathani K,27,Female,Puducherry,Non IT Professional,Daily,Half an Hour,Others (Please Specify),Both (Tamil + English),5,Graduate,Yes,Mobile Phone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,10/17/2025 23:07:36,Bhavani,17,Female,Cuddalore,Student,3-5 times a week,Half an Hour,Education/ Exam Preparation,English,4,School,No,Mobile Phone
106,10/17/2025 23:18:10,Sri,18,Male,Villupuram,Daily wage,Once a week,Half an Hour,Education/ Exam Preparation,English,3,College,Yes,Mobile Phone
107,10/17/2025 23:25:26,Sowmiya,28,Female,Pondicherry,Freelancer,Rarely,Half an Hour,Translation/ Language Practice,English,5,Graduate,No,Mobile Phone
108,10/17/2025 23:27:08,Suguna,28,Female,Puducherry,Homemaker,Rarely,Half an Hour,Education/ Exam Preparation,English,2,Graduate,No,Mobile Phone
109,10/17/2025 23:36:20,Arjun,28,Male,Puducherry,IT Professional,Daily,More than 3 Hours,Coding Help/ Programming,Tanglish,5,Post Graduate,Yes,Mobile Phone

In [60]:
#to see any value is empty
dataset.isnull()

,Timestamp,Name,Age,Gender,District (Where you live in Tamil Nadu),Occupation,How often do you use ChatGPT,How much spending per day,Main purpose of using ChatGPT,Which language do you mainly use ChatGPT in ?,Rate how helpful ChatGPT is for you (1-5),Education Level,Did you take actions based on ChatGPT suggestions ?,Device Used
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,False,False,False,False,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,False,False,False,False,False,False,False
107,False,False,False,False,False,False,False,False,False,False,False,False,False,False
108,False,False,False,False,False,False,False,False,False,False,False,False,False,False
109,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [61]:
#empty values count
dataset.isna().sum()

Timestamp                                              0
Name                                                   0
Age                                                    0
Gender                                                 0
District (Where you live in Tamil Nadu)                1
Occupation                                             0
How often do you use ChatGPT                           0
How much spending per day                              0
Main purpose of using ChatGPT                          0
Which language do you mainly use ChatGPT in ?          0
Rate how helpful ChatGPT is for you (1-5)              0
Education Level                                        0
Did you take actions based on ChatGPT suggestions ?    0
Device Used                                            0
dtype: int64

In [62]:
#Naan value present
#Replace with “Unknown”
  #df["District"].fillna("Unknown", inplace=True)
#or Replace using another column -If you can infer district from Occupation, College, or Name (rule based approach) 
#or Drop those rows Only if few missing rows (<5%)
  #df = df.dropna(subset=["District"])

#Best practice (for surveys): use Option 1 (keep data, fill “Unknown”).

In [63]:
dataset.fillna({"District (Where you live in Tamil Nadu)": "Unknown"}, inplace=True)

In [64]:
dataset.isna().sum()

Timestamp                                              0
Name                                                   0
Age                                                    0
Gender                                                 0
District (Where you live in Tamil Nadu)                0
Occupation                                             0
How often do you use ChatGPT                           0
How much spending per day                              0
Main purpose of using ChatGPT                          0
Which language do you mainly use ChatGPT in ?          0
Rate how helpful ChatGPT is for you (1-5)              0
Education Level                                        0
Did you take actions based on ChatGPT suggestions ?    0
Device Used                                            0
dtype: int64

In [65]:
#Converting Text to Numeric - We can map hours/minutes to a float number of hours.
def convert_time_to_hours(time_str):
    time_str = str(time_str).lower().strip()
    if "half" in time_str:
        return 0.5
    elif "more than 1" in time_str:
        return 1.5
    elif "more than 3" in time_str:
        return 3.5
    elif "1 hour" in time_str:
        return 1
    elif "2 hours" in time_str:
        return 2
    elif "3 hours" in time_str:
        return 3
    else:
        return np.nan

# Apply conversion
dataset["Time Spent Hours"] = dataset["How much spending per day"].apply(convert_time_to_hours)

In [66]:
# Check results
print(dataset[["How much spending per day", "Time Spent Hours"]].head())

  How much spending per day  Time Spent Hours
0              Half an Hour               0.5
1         More than 3 Hours               3.5
2              Half an Hour               0.5
3              Half an Hour               0.5
4              Half an Hour               0.5

In [67]:
#Convert Numeric Columns - Convert Age, Spending, and Rating columns to numeric safely
dataset["Age"] = pd.to_numeric(dataset["Age"], errors="coerce")
dataset["How much spending per day"] = pd.to_numeric(dataset["How much spending per day"], errors="coerce")
dataset["Rate how helpful ChatGPT is for you (1-5)"] = pd.to_numeric(dataset["Rate how helpful ChatGPT is for you (1-5)"], errors="coerce")

In [68]:
dataset.columns

Index(['Timestamp', 'Name', 'Age', 'Gender',
       'District (Where you live in Tamil Nadu)', 'Occupation',
       'How often do you use ChatGPT', 'How much spending per day',
       'Main purpose of using ChatGPT',
       'Which language do you mainly use ChatGPT in ?',
       'Rate how helpful ChatGPT is for you (1-5)', 'Education Level',
       'Did you take actions based on ChatGPT suggestions ?', 'Device Used',
       'Time Spent Hours'],
      dtype='object')

In [69]:
dataset.drop('Timestamp', axis=1, inplace=True)
dataset.drop('Name', axis=1, inplace=True)
dataset.drop('How much spending per day', axis=1, inplace=True)

In [70]:
dataset.columns = dataset.columns.str.strip()           # removes extra spaces
dataset.columns = dataset.columns.str.replace('\n', ' ')  # replaces line breaks
dataset.columns = dataset.columns.str.replace('\r', ' ')
dataset.rename(columns={
    "District (Where you live in Tamil Nadu)": "District",
    "How often do you use ChatGPT": "Usage Frequency",
    "Main purpose of using ChatGPT": "Main Purpose",
    "Which language do you mainly use ChatGPT in ?": "Language Used",
    "Rate how helpful ChatGPT is for you (1-5)": "User Rating",
    "Did you take actions based on ChatGPT suggestions ?": "Actions Taken",
}, inplace=True)

In [71]:
dataset

,Age,Gender,District,Occupation,Usage Frequency,Main Purpose,Language Used,User Rating,Education Level,Actions Taken,Device Used,Time Spent Hours
0,25,Male,Chengalpattu,Student,Daily,Education/ Exam Preparation,English,5,Graduate,Yes,Mobile Phone,0.5
1,28,Male,Pondicherry,IT Professional,Daily,Others (Please Specify),English,5,Post Graduate,Yes,Laptop,3.5
2,48,Female,Chengalpattu,Homemaker,Daily,Coding Help/ Programming,Tamil,5,School,Yes,Mobile Phone,0.5
3,54,Male,Chengalpattu,Entrepreneur/ Business,Daily,Business Ideas/ Productivity,Tamil,5,School,Yes,Mobile Phone,0.5
4,27,Female,Puducherry,Non IT Professional,Daily,Others (Please Specify),Both (Tamil + English),5,Graduate,Yes,Mobile Phone,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...
105,17,Female,Cuddalore,Student,3-5 times a week,Education/ Exam Preparation,English,4,School,No,Mobile Phone,0.5
106,18,Male,Villupuram,Daily wage,Once a week,Education/ Exam Preparation,English,3,College,Yes,Mobile Phone,0.5
107,28,Female,Pondicherry,Freelancer,Rarely,Translation/ Language Practice,English,5,Graduate,No,Mobile Phone,0.5
108,28,Female,Puducherry,Homemaker,Rarely,Education/ Exam Preparation,English,2,Graduate,No,Mobile Phone,0.5
109,28,Male,Puducherry,IT Professional,Daily,Coding Help/ Programming,Tanglish,5,Post Graduate,Yes,Mobile Phone,3.5

#Encode Categorical Variables
from sklearn.preprocessing import LabelEncoder

categorical_cols = [
    "Gender",
    "District (Where you live in Tamil Nadu)",
    "Occupation",
    "How often do you use ChatGPT",
    "Main purpose of using ChatGPT",
    "Which language do you mainly use ChatGPT in?",
    "Education Level",
    "Did you take actions based on ChatGPT suggestions?",
    "Device Used"
]

label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    dataset[col] = le.fit_transform(dataset[col].astype(str))
    label_encoders[col] = le

#manualy mapping values
dataset['UsageFrequency'] = dataset['UsageFrequency'].map({
    'Rarely': 1,
    'Sometimes': 2,
    'Often': 3,
    'Daily': 4
})

In [72]:
#Ordinal Columns - with order
from sklearn.preprocessing import OrdinalEncoder

ordinal_cols = ['Usage Frequency', 'Education Level']

# define category order explicitly
encoder = OrdinalEncoder(categories=[
    ['Rarely', 'Once a week', '3-5 times a week', 'Daily'],  # order for UsageFrequency
    ['School', 'College', 'Graduate', 'Post Graduate']  # order for EducationLevel
])

dataset[ordinal_cols] = encoder.fit_transform(dataset[ordinal_cols])

In [73]:
#Nominal data - Names
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

nominal_cols = ["Gender", "District", "Occupation", "Language Used",
                "Actions Taken", "Device Used"]

# Label Encoding for nominal columns
le_dict = {}
for col in nominal_cols:
    le = LabelEncoder()
    dataset[col] = le.fit_transform(dataset[col].astype(str))
    le_dict[col] = le  # Store encoder to map back if needed

In [74]:
# ---------- TARGET COLUMN ----------
target_le = LabelEncoder() 
dataset["Main Purpose"] = target_le.fit_transform(dataset["Main Purpose"].astype(str))

In [75]:
target_le.classes_

array(['Business Ideas/ Productivity', 'Coding Help/ Programming',
       'Content Writing/ Social Media', 'Education/ Exam Preparation',
       'Others (Please Specify)', 'Translation/ Language Practice',
       'Work support, daily updates etc'], dtype=object)

In [76]:
for index, label in enumerate(target_le.classes_):
    print(index, "→", label)

0 → Business Ideas/ Productivity
1 → Coding Help/ Programming
2 → Content Writing/ Social Media
3 → Education/ Exam Preparation
4 → Others (Please Specify)
5 → Translation/ Language Practice
6 → Work support, daily updates etc

In [77]:
import pickle

# Save the label encoder for later use
with open("target_label_encoder.pkl", "wb") as f:
    pickle.dump(target_le, f)

In [78]:
# ---------- Final Check ----------
print(dataset.head())
print("\nColumns dtypes:\n", dataset.dtypes)

   Age  Gender  District  Occupation  Usage Frequency  Main Purpose  \
0   25       1         0          10              3.0             3
1   28       1         8           4              3.0             4
2   48       0         0           3              3.0             1
3   54       1         0           1              3.0             0
4   27       0        12           6              3.0             4

   Language Used  User Rating  Education Level  Actions Taken  Device Used  \
0              1            5              2.0              1            3
1              1            5              3.0              1            1
2              2            5              0.0              1            3
3              2            5              0.0              1            3
4              0            5              2.0              1            3

   Time Spent Hours
0               0.5
1               3.5
2               0.5
3               0.5
4               0.5

Columns dtypes:
 Age                   int64
Gender                int32
District              int32
Occupation            int32
Usage Frequency     float64
Main Purpose          int32
Language Used         int32
User Rating           int64
Education Level     float64
Actions Taken         int32
Device Used           int32
Time Spent Hours    float64
dtype: object

In [79]:
dataset.to_csv("Preprocessed Tamil Nadu ChatGPT Data.csv", index=False)